#logo{
	background: #FFF url(../images/logo.png) center center no-repeat;
	width:100%;
	height:68px;
	margin:0 auto;
	}
	
.spaces{
	border-top:20px #FFF solid;
	border-bottom:20px #FFF solid;
	}
.main{
	width:100%;
	max-width:600px;
	margin: 0 auto;
	height:auto;
	border-bottom:10px #FFF solid;
	}
	
.click tbody tr{
	cursor:pointer;
	}

.contenido{
	padding:5px;
	}
	
.brand{
	padding-left:40px;
	background:url(../images/ssp_logo.png) center left no-repeat;
	}
.table{
	width:98%;
	}
	
.separador{
	padding-top:10px;
	border-bottom:1px dashed #CCC;
	}
	

	
dd span{
	padding-right:20px;
	}

.folio dt{
	width:130px;
	}

	
	
.validity-summary-container { display:none; }
.validity-summary-output ul { }
.validity-erroneous { border:solid 2px #f56600 !important; }
	
